* {
    margin: 0;
}

body {
    background: #A9A9A9;
}

#hoja {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-top: 40px;
    gap: 40px;
    font-family: "Almarai", sans-serif;
}

.cont_padre {
    width: 260px;
    height: 300px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 3px 3px 4px grey;
}

#enero {
    display: flex;
    flex-direction: column;
}

.cubo_superior{
    display: flex;
    flex-direction: column;
    font-size: 43px;
    font-weight: bold;
    background: #FFDA57;
    color: #FFFFFF;
    border-radius: 8px;
    padding-bottom: 10px;
    padding-left: 17px;
}

.num {
    font-size: 60px;
}

.cubo_inferior {
    padding-top: 20px;
    font-size: 13px;
    font-weight: bolder;
}

table {
    width: 259px;
}

th, td{
    text-align: center;
}

th {
    padding-bottom: 13px;
    color: #FFDA57;
}

.sig_dia {
    color: #a2a5aa;
}
